body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 50px; /* Ridotto per spostare il contenuto più in alto */
    position: relative; /* Per gestire meglio gli elementi posizionati assoluti */
    overflow-x: hidden; /* Previene lo scorrimento orizzontale */
}

#sfondo {
    position: fixed; /* Aggiunto per fissare lo sfondo alla pagina */
    top: 0;
    left: 0;
    width: 100%; /* Copre tutta la larghezza della pagina */
    height: 100%; /* Copre tutta l'altezza della pagina */
    object-fit: cover; /* Assicura che l'immagine copra completamente l'area senza distorsioni */
    z-index: -1; /* Mantenere lo sfondo dietro gli altri elementi */
}

#lettera {
    margin-top: 50px; /* Ridotto per spostare il contenuto più in alto */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#hogwarts-logo {
    width: 150px; /* Ridotto per una visibilità più contenuta */
    height: auto;
    margin-bottom: 30px;
}

#casate {
    margin-top: 30px; /* Ridotto per avvicinare i contenuti */
}

.casata-info {
    display: flex;
    flex-direction: column; /* Cambiato da row a column per disporre le casate verticalmente */
    justify-content: center; /* Allinea gli elementi al centro */
    align-items: center; /* Centra verticalmente */
    gap: 30px; /* Spazio tra ogni casata */
    margin-bottom: 30px; /* Aggiungi spazio tra i gruppi di casate */
}

.casata-card {
    display: flex;
    flex-direction: column; /* Immagine sopra e descrizione sotto */
    align-items: center; /* Centra l'immagine e la descrizione orizzontalmente */
    width: 90%; /* Puoi regolare la larghezza in base alle tue esigenze */
    max-width: 900px; /* Imposta una larghezza massima per non espandere troppo */
    padding: 20px;
}

.casata-logo {
    width: 120px; /* Ridotto per una visibilità equilibrata */
    height: auto;
    margin-bottom: 15px; /* Aggiungi spazio tra immagine e descrizione */
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px; /* Aggiungi spazio tra il titolo e la descrizione */
}

p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-top: 0; /* Rimuovi margine superiore in eccesso */
}

/* Media query per dispositivi mobili */
@media (max-width: 600px) {
    .casata-logo {
        width: 80px; /* Ridotto per migliorare la visualizzazione su mobile */
        height: auto;
    }

    h2 {
        font-size: 18px; /* Ridotto per migliorare la visualizzazione su mobile */
    }

    p {
        font-size: 14px; /* Ridotto per migliorare la visualizzazione su mobile */
    }
}
