body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 50px; /* Ridotto per spostare il contenuto più in alto */
    position: relative; /* Per gestire meglio gli elementi posizionati assoluti */
    overflow-x: hidden; /* Previene lo scorrimento orizzontale */
}

#sfondo {
    position: fixed; /* Aggiunto per fissare lo sfondo alla pagina */
    top: 0;
    left: 0;
    width: 100%; /* Copre tutta la larghezza della pagina */
    height: 100%; /* Copre tutta l'altezza della pagina */
    object-fit: cover; /* Assicura che l'immagine copra completamente l'area senza distorsioni */
    z-index: -1; /* Mantenere lo sfondo dietro gli altri elementi */
}

#lettera {
    margin-top: 50px; /* Ridotto per spostare il contenuto più in alto */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#hogwarts-logo {
    width: 150px; /* Ridotto per una visibilità più contenuta */
    height: auto;
    margin-bottom: 30px;
}